# Production Perxona Connect API
VITE_PERXONA_API_BASE_URL=https://console.perxona.ai/asia

# Production presenter engine CDN
VITE_PRESENTER_URL=https://cdn.perxona.ai/asia/prod/latest/widget/entry/presenter.js
